{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AralDIF</h1>
    <p class="lead">A Dynamic Information Framework for Water Resources Management in the Aral Sea Basin</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is AralDIF?</h2>
        <p>
            Simulation and visualization of water and energy linkages in Amu Darya and Syr Darya river systems through public and open-source data and modeling platforms. 
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visualization Toolkit</h2>
        <p>WIP</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Documentation important is.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
